<div class="box-comic-detail">
  <div class="box-cover-img">
    <div class="spinner-box" *ngIf="!comic">
      <mat-spinner color="accent" class="spinner"></mat-spinner>
    </div>

    <div class="img-cover" *ngIf="comic">
      <img [src]="getCoverImg()" />
    </div>
  </div>

  <div class="spinner-box" *ngIf="!comic">
    <mat-spinner color="accent" class="spinner"></mat-spinner>
  </div>
  <div class="box-comic-info" *ngIf="comic">
    <h1>
      {{ comic.title }}
    </h1>
    <span class="price"> R${{ getPrice() }} </span>
    <br />
    <p *ngIf="comic.description">
      {{ comic.description }}
    </p>

    <p *ngIf="!comic.description">
      A descrição deste quadrinho não está disponível no momento, por favor nos
      procure em outra hora para mais informações a respeito deta maravilhosa
      obra contemporânea da Marvel Comics
    </p>

    <hr />
    <div class="box-end-info">
      <button class="btn-buy" mat-button>Comprar</button>
    </div>
  </div>
</div>
