<div class="spinner-box">
  <mat-spinner color="accent" class="spinner" *ngIf="!comics"></mat-spinner>
</div>
<div class="comics-list-box" *ngIf="comics">
  <span class="search-result" *ngIf="limit && offset">
    {{ offset + 1 }}-{{ page * 20 + limit }} de {{ total }} resultados
    encontrados
    <span *ngIf="query">para "{{ query }}"</span>
  </span>
  <span class="search-result" *ngIf="!limit && !offset">
    1-20 de {{ total }} resultados encontrados
    <span *ngIf="query">para "{{ query }}"</span>
  </span>
  <hr class="divide-line" />
  <div class="list">
    <app-comic-card
      *ngFor="let comic of comics"
      [comic]="comic"
    ></app-comic-card>
  </div>

  <div class="paginator">
    <mat-paginator
      [length]="total"
      [pageSize]="20"
      (page)="handleChangePage($event)"
    >
    </mat-paginator>
  </div>
</div>
