<div class="comics-list-box">
  <span class="search-result">
    1-20 de mais de 4000 resultados encontrados para "miranha"
  </span>
  <hr class="divide-line" />
  <div class="list">
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card><app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card><app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card><app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
    <app-comic-card></app-comic-card>
  </div>
</div>
