.comics-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divide-line {
    width: 99vw;
}

.search-result {
    align-self: flex-start;
}

.list {
    width: 95vw;
    justify-content: space-between;
    margin: 0px 30px 20px 30px;
    display: flex;
    flex-wrap: wrap;
}