<div class="highlights-box">
  <div class="highlight-card">
    <div class="highlight-img">
      <img
        src="../../../../assets/img/avengers.jpg"
        (click)="goToSearchWith('avengers')"
      />
    </div>
    <div class="highlight-description">
      <h1>Vingadores</h1>
      <p>
        Vingadores ou Os Vingadores (The Avengers no original em inglês) são um
        grupo de super-heróis de história em quadrinhos publicados nos Estados
        Unidos pela editora Marvel Comics. O grupo também aparece em adaptações
        da Marvel para cinema, desenho animado e jogos eletrônicos. Os heróis
        mais conhecidos são a formação original de Thor, Homem de Ferro,
        Homem-Formiga e a Vespa, e Hulk, além de seu primeiro recruta, o Capitão
        América (introduzido na quarta edição).
      </p>
    </div>
  </div>
  <div class="highlight-card">
    <div class="highlight-description">
      <h1>Homem-Aranha</h1>
      <p>
        O Homem-Aranha (Spider-Man no original em inglês) alter-ego de Peter
        Parker, é um personagem fictício, um super-herói que aparece nas
        revistas em quadrinhos (banda desenhada em Portugal) americanas
        publicadas pela Marvel Comics, existindo no seu universo partilhado. O
        Homem-Aranha foi criado pelo editor/escritor Stan Lee e pelo
        escritor/artista Steve Ditko, e a sua primeira aparição foi no livro de
        antologia Amazing Fantasy #15 (Agosto de 1962), durante a Era de Prata
        da banda desenhada.
      </p>
    </div>
    <div class="highlight-img">
      <img
        src="../../../../assets/img/spider.jpg"
        (click)="goToSearchWith('spider-man')"
      />
    </div>
  </div>

  <div class="highlight-card">
    <div class="highlight-img">
      <img
        src="../../../../assets/img/ultimate.jpg"
        (click)="goToSearchWith('ultimate')"
      />
    </div>
    <div class="highlight-description">
      <h1>Universo Ultimate</h1>
      <p>
        Ultimate Marvel foi uma linha editorial da Marvel Comics criada em 2000.
        Esta linha veio a capitalizar com o êxito que tiveram os filmes dos
        X-Men (lançado no mesmo ano da criação da linha) e do Homem-Aranha
        (estreado dois anos depois). Foram desenhados no sentido de capturar os
        jovens adolescentes e gerações mais velhas que não conheciam o Universo
        Marvel e estavam intrigados pelos filmes. Presentemente, os títulos
        desta linha são os mais vendidos da Marvel Comics. De a cordo com a
        Enciclopédia Marvel, a linha Ultimate se passa na Terra-1610.
      </p>
    </div>
  </div>
</div>
