<div class="highlights-box">
  <div class="highlight-card">
    <div class="highlight-img">
      <img src="../../../../assets/img/avengers.jpg" />
    </div>
    <div class="highlight-description">
      <h1>Vingadores</h1>
    </div>
  </div>
  <div class="highlight-card">
    <div class="highlight-description">
      <h1>Homem-Aranha</h1>
    </div>
    <div class="highlight-img">
      <img src="../../../../assets/img/spider.jpg" />
    </div>
  </div>

  <div class="highlight-card">
    <div class="highlight-img">
      <img src="../../../../assets/img/ultimate.jpg" />
    </div>
    <div class="highlight-description">
      <h1>Universo Ultimate</h1>
    </div>
  </div>
</div>
