.highlights-box {

    display: flex;
    flex-direction: column;
}

.highlight-card {
    background-color: #212121;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 55vh;
}

.highlight-description {
    width: 50vw;
    height: 50vh;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin: 40px
}

.highlight-img img {
    width:50vw;
    height:55vh;
    transition: transform .3s, opacity .5s; /* Animation */
    opacity: 1;
}

.highlight-img img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: transform .3s, opacity .5s;
    
    cursor: pointer;
}