<div class="cart-items-box">
  <h1 *ngIf="!items">Não existem itens no carrinho</h1>

  <div class="cart-info" *ngIf="items">
    <h1>Carrinho de compras</h1>
    <span>Preço</span>
  </div>
  <hr />
  <div class="item" *ngFor="let item of items">
    <div class="item-content">
      <div class="item-img">
        <img [src]="getImgCover(item.comic)" />
      </div>
      <div class="item-info">
        <h2>{{ item.comic.title }}</h2>
      </div>
    </div>
    <span class="item-price">R$ {{ getPrice(item.comic) }}</span>
  </div>
</div>
